{% extends 'base.html.twig' %}

{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#copy-link-button').addEventListener('click', function (evt) {
                navigator.clipboard
                    .writeText(evt.currentTarget.dataset.url)
                    .then(function () {
                        let button = document.querySelector('#copy-link-button');
                        button.classList.remove('btn-primary');
                        button.classList.add('btn-success', 'disabled');
                        button.querySelector('#copy-link-button-text').textContent = "{{ 'copied_new_message'|trans }}";

                        setTimeout(function () {
                            button.classList.remove('btn-success', 'disabled');
                            button.classList.add('btn-primary');
                            button.querySelector('#copy-link-button-text').textContent = "{{ 'copy_new_message'|trans }}";
                        }, 2000);
                    });
            });
        });
    </script>
    <div class="row gy-2 w-100">
        <twig:DecreasingTimerAlert
            interval="{{ messageLifetime }}"
            whileMessage="{{ 'message_lifetime_while_without_interval'|trans }}"
            expiredMessage="{{ 'message_lifetime_expired'|trans }}"
            whileType="warning"
            expiredType="danger"
        />
        <div
            type="button"
            class="btn btn-lg btn-primary col-12"
            id="copy-link-button"
            data-url="{{ url('preview_message', {'hash': hash}) }}"
        >
            <span id="copy-link-button-text">{{ 'copy_new_message'|trans }}</span>
        </div>
        <a href="{{ url('create_message') }}" class="btn btn-outline-success col-12">
            {{ 'create_new_message'|trans }}
        </a>
    </div>
{% endblock %}
