{% extends 'base.html.twig' %}

{% block body %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toastTrigger = document.getElementById('text-block')
            const toastLiveExample = document.getElementById('text-block-copied')
            const textBlock = document.getElementById('text-block');

            if (toastTrigger) {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                toastTrigger.addEventListener('click', () => {
                    navigator.clipboard
                        .writeText(textBlock.textContent.trim())
                        .then(function () {
                            let button = document.getElementById('text-block');
                            button.classList.remove('border-primary');
                            button.classList.add('border-success', 'disabled');
                            toastBootstrap.show();

                            setTimeout(function () {
                                button.classList.remove('border-success', 'disabled');
                                button.classList.add('border-primary');
                                toastBootstrap.hide();
                            }, 2000);
                        });
                });
                document.querySelector('#copy-text-button').addEventListener('click', function (evt) {
                    navigator.clipboard
                        .writeText(textBlock.textContent.trim())
                        .then(function () {
                            let button = document.querySelector('#copy-text-button');
                            button.classList.remove('btn-primary');
                            button.classList.add('btn-success', 'disabled');
                            button.querySelector('#copy-text-button-text').textContent = "{{ 'message_copied'|trans }}";

                            setTimeout(function () {
                                button.classList.remove('btn-success', 'disabled');
                                button.classList.add('btn-primary');
                                button.querySelector('#copy-text-button-text').textContent = "{{ 'message_copy_text'|trans }}";
                            }, 2000);
                        });
                });
            }
        });
    </script>
    <div class="row gy-2 w-100">
        {% if message.filesDownloadHash %}
            <twig:DecreasingTimerAlert
                interval="{{ message.filesValidUntil.diff(date()) }}"
                whileMessage="{{ 'files_lifetime_while_without_interval'|trans }}"
                expiredMessage="{{ 'files_lifetime_expired'|trans }}"
                whileType="warning"
                expiredType="danger"
                id="download-files-timer"
            />
        {% endif %}
        {% if message.text %}
            <div
                class="col-12 border-primary border p-2 rounded"
                style="min-height: 10rem; cursor: pointer;"
                id="text-block"
            >
                {{ message.text }}
            </div>
            <div
                type="button"
                class="btn btn-lg btn-primary col-12"
                id="copy-text-button"
            >
                <span id="copy-text-button-text">{{ 'message_copy_text'|trans }}</span>
            </div>
        {% endif %}
        {% if message.filesDownloadHash %}
            <a
                href="{{ path('download_files', {hash: message.filesDownloadHash}) }}"
                download
                class="btn btn-outline-primary col-12"
                onclick="this.remove(); document.querySelector('#download-files-timer').remove();"
            >
                {{ 'files.download'|trans }}
            </a>
        {% endif %}
        <a href="{{ url('create_message') }}" class="btn btn-outline-success col-12">
            {{ 'create_new_message'|trans }}
        </a>
    </div>
    <div class="toast-container position-fixed bottom-0 w-100 p-3">
        <div
            id="text-block-copied"
            class="toast border-0 shadow-none w-100"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
        >
            <div class="w-100 d-flex justify-content-center justify-content-md-end">
                <twig:Alert
                    type="success"
                    message="{{ 'message_copied'|trans }}"
                    style="margin: 0;"
                />
            </div>
        </div>
    </div>
{% endblock %}
