{% set intervalData = {
    y: this.interval.y, m: this.interval.m, d: this.interval.d,
    h: this.interval.h, i: this.interval.i, s: this.interval.s
} %}

<div {{ attributes.defaults({
    'class': 'alert alert-dismissible alert-' ~ whileType,
    'role': 'alert',
}) }}
    {{ stimulus_controller('decreasing_timer_alert', {
        'interval': intervalData,
        'whileMessage': this.whileMessage,
        'expiredMessage': this.expiredMessage,
        'whileType': this.whileType,
        'expiredType': this.expiredType,
    }) }}
    data-decreasing-timer-alert-target="alert"
>
    <div class="d-flex align-items-center">
        <twig:ux:icon
            name="{{ this.whileIcon }}"
            height="1rem"
            class="me-2"
            data-decreasing-timer-alert-target="whileIcon"
        />
        <twig:ux:icon
            name="{{ this.expiredIcon }}"
            height="1rem"
            class="me-2 d-none"
            data-decreasing-timer-alert-target="expiredIcon"
        />
        <span data-decreasing-timer-alert-target="timerDisplay">{{ this.whileMessage }}</span>
    </div>
</div>
